@import '@core/scss/base/plugins/charts/chart-apex';
@import '@core/scss/angular/libs/flatpickr.component.scss';


.input {
    width: 150px;
    padding: 7px 12px 7px 40px;
    font-size: 12px;
    border-radius: 16px;
    border: solid 1px #ddd;
}

.input-icon {
    position: absolute;
    width: 16px;
    opacity: .6;
    top: 8px;
    left: 11px;
}

.search-button {
    border: none;
    background: #4998f7;
    border-radius: 16px;
    color: white;
    padding-right: 16px;
    padding-left: 16px;
}

.search-button:hover {
    cursor: pointer;
    opacity: .7;
}

.dots {
    color: #4998f7;
    font-size: 49px;
    line-height: 0px;
    letter-spacing: -4px;
    margin-top: -3px;
}

.dots:hover {
    opacity: .7;
    cursor: pointer;
}



.noti-title {
    width: 162px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.noti-info {
    width: 162px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
    padding-bottom: 7px;
    border-bottom: solid 1px #ddd;
    margin-bottom: 14px;
}

.show-all {
    color: #4998f7;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    width: 100%;
}

.show-all:hover {
    opacity: .7;
    cursor: pointer;
}

.box-title {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.box-img {
    width: 44px;
}

.box-value {
    color: #4998f7;
    font-size: 48px;
    font-weight: bold;
}

.box-input {
    width: 80%;
    padding: 5px 16px;
}

.box-button {
    width: 80%;
    background-color: #d491dd;
    color: white;
    text-align: center;
    padding: 3px;
    border-radius: 16px;
}

.box-amount{
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bold;
    font-size: 22px;
}