@import '@core/scss/base/bootstrap-extended/include'; // Bootstrap includes
@import '@core/scss/base/pages/page-auth.scss';

body {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.auth-help-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

::placeholder {
    color: #444 !important;
    opacity: 1;
}

::-ms-input-placeholder {
    color: #444 !important;
}

.img-fluid {
    width: 60% !important;
    background-color: #f6f6f6;
}

input {
    padding: 24px 16px 24px 16px !important;
    border: none !important;
    background: #f6f6f6 !important;
}

.input-container {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 16px;
}

.input-group-text {
    border: none !important;
    background: #f6f6f6;
    border-radius: 24px;
}

.input-icon {
    position: absolute;
    top: 15px;
    left: 16px;
    width: 18px;
    z-index: 100;
    opacity: .9;
}

.hyper {
    color: #4998f7 !important;
    margin-top: 1px;
}

.hyper-container {
    margin-top: 8px;
    display: inline-flex;
    flex-direction: row;
}

.btn {
    border-radius: 24px;
}

.i-button {
    position: absolute;
    top: calc(50% - 12px);
    width: 24px;
    height: 24px;
    background: #4998f7;
    border-radius: 50%;
    z-index: 101;
    left: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.i-button:hover {
    opacity: .7;
}


.info-container {
    position: absolute;
    width: 60%;
    top: -6px;
    bottom: -6px;
    border-radius: 32px;
    background: #4998f7;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    color: white;
    text-align: center;
}

.checkmark {
    font-size: 42px;
    color: white;
    background: #4998f7;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-shrink: 0;
}