<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div *ngIf="!passwordChanged" class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h3 style="color: #4998f7; font-weight: bold !important; margin-bottom: 32px !important;"
          class="card-title font-weight-bold mb-2">
          E-posta adresinize gönderilen şifreyi ve istediğiniz yeni şifreyi giriniz...</h3>

        <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="false">
          <div class="alert-body">
            <p>{{ error }}</p>
          </div>
        </ngb-alert>

        <form class="auth-login-form mt-2">

          <div class="form-group" style="position: relative;">
            <div class="d-flex justify-content-between">

            </div>

            <div class="i-button">i</div>
            <div *ngIf="showInfo" class="info-container">Lütfen yeni şifrenizi aşağıdaki kriterlere göre
              giriniz.<br>-Rakam ve harf
              içermeli,<br>-Minimum 8 hane olmalı,<br>-En az bir tane özel karakter içermeli,<br>-En az bir tane büyük
              harf içermeli</div>


            <div class="input-container">
              <input type="text" class="form-control" placeholder="Mevcut Şifreniz" aria-describedby="login-dealer-code"
                autofocus="" tabindex="1" />
            </div>

            <div class="input-container">
              <input type="text" class="form-control" placeholder="Yeni Şifreniz" aria-describedby="login-dealer-code"
                autofocus="" tabindex="1" />
            </div>

            <div class="input-container">
              <input type="text" class="form-control" placeholder="Tekrar Yeni Şifreniz"
                aria-describedby="login-dealer-code" autofocus="" tabindex="1" />
            </div>



            <div *ngIf="false" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>

          <button [disabled]="false" (click)="changePassword()" class="btn btn-primary btn-block" tabindex="4"
            rippleEffect>
            <span *ngIf="false" class="spinner-border spinner-border-sm mr-1"></span>Gönder
          </button>
        </form>
      </div>

      <div *ngIf="passwordChanged" style="display: flex; justify-content: space-between; gap: 96px; padding: 32px;">
        <div class="checkmark">✓</div>
        <h1 style="color: #4998f7;">Şifreniz başarıyla değiştirilmiştir.</h1>
      </div>

    </div>

    <div class="col-lg-8 p-5"
      style="display: flex; justify-content: space-evenly; align-items: center; flex-direction: column; gap: 64px;">
      <img class="img-fluid" [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/login-v2-dark.svg'
              : 'assets/images/pages/login-v2.svg'
          " alt="Login V2" />
      <div style="width: 50%;">
        <h3 style="color: #4998f7; font-weight: bold !important;">Bize Ulaşın...</h3>
        <div style="flex-direction: column; justify-content: left; margin-bottom: 64px;">
          <div class="hyper-container"><img src="assets/images/icons/message-square.svg"
              style="margin-right: 16px; width: 24px;" /><a class="hyper">Bayi temsilcisi ile görüşün.</a>
          </div>
          <br>
          <div class="hyper-container"><img src="assets/images/icons/mail.svg"
              style="margin-right: 16px; width: 24px;" /><a class="hyper">info@bank.com.tr</a></div>
          <br>
          <div class="hyper-container"><img src="assets/images/icons/phone.svg"
              style="margin-right: 16px; width: 24px;" /><a>+90 212 333 44 55</a></div>
        </div>
      </div>
    </div>



  </div>
</div>