<div style="display: flex; justify-content: center; padding-top: 48px;">
    <div style="display: flex; gap: 86px;">
        <div class="page-number">1
            <div class="page-title">Ön Değerlendirme</div>
            <img class="tie-arrow" src="assets/images/icons/arrow.png" />
        </div>
        <div class="page-number" style="background: #ddd; color: black;">2
            <div class="page-title">Diğer Bilgiler</div>
            <img class="tie-arrow" src="assets/images/icons/arrow.png" />
        </div>
        <div class="page-number" style="background: #ddd; color: black;">3
            <div class="page-title">Teklif</div>
            <img class="tie-arrow" src="assets/images/icons/arrow.png" />
        </div>
        <div class="page-number" style="background: #ddd; color: black;">4
            <div class="page-title">Evrak</div>
        </div>
    </div>