<div style="display: flex; justify-content: center; padding-top: 48px;">
    <div style="display: flex; gap: 86px;">
        <div class="page-number">1
            <div class="page-title">Ön Değerlendirme</div>
            <img class="tie-arrow" src="assets/images/icons/arrow.png" />
        </div>
        <div class="page-number" style="background: #ddd; color: black;">2
            <div class="page-title">Diğer Bilgiler</div>
            <img class="tie-arrow" src="assets/images/icons/arrow.png" />
        </div>
        <div class="page-number" style="background: #ddd; color: black;">3
            <div class="page-title">Teklif</div>
            <img class="tie-arrow" src="assets/images/icons/arrow.png" />
        </div>
        <div class="page-number" style="background: #ddd; color: black;">4
            <div class="page-title">Evrak</div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center mt-3">
    <div class="col-9">

        <div class="col-12 d-flex justify-content-between mb-2">
            <div class="col-5 flex-column">
                <input class="input" placeholder="Finansman Türü" />
                <input class="input" placeholder="Talep Edilen Tutar" />
                <input class="input" placeholder="Vade" />
                <input class="input" placeholder="Cep Telefonu" />
                <input class="input" placeholder="Kampanya" />
            </div>

            <div class="col-5 flex-column">
                <input class="input" placeholder="TC Kimlik Numarası" />
                <input class="input" placeholder="Ad" />
                <input class="input" placeholder="İkinci Ad" />
                <input class="input" placeholder="Soyad" />
                <input class="input" placeholder="Doğum Tarihi gg/aa/yyyy" />
            </div>
        </div>


        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" tabindex="3" />
            <label class="custom-control-label">Talebimin değerlendirilmesi için yukarı vermiş olduğum
                bilgilerin doğru olduğunu, kayıt edilmesini ve finansal kuruluşlarla paylaşılmasını onaylıyorum.</label>
        </div>
        <div class="custom-control custom-checkbox mt-1">
            <input class="custom-control-input" type="checkbox" tabindex="3" />
            <label class="custom-control-label">Kişisel Verilerin Korunması ve İşlenmesine İlişkin Aydınlatma Menini
                okudum ve anladım.</label>
        </div>

        <div class="d-flex justify-content-end mt-4">
            <button class="button">Devam</button>
        </div>
    </div>
</div>